# Streamlit dashboard
streamlit==1.50.0
Pillow==10.4.0
numpy==1.26.4

# YOLO & ML dependencies
torch==2.4.1
ultralytics==8.3.20

# Keras (tanpa TensorFlow)
keras==3.4.1

# OpenCV (headless - tanpa GUI)
opencv-python-headless==4.10.0.84
