# Dashboard dependencies
streamlit==1.50.0
Pillow==10.4.0
numpy==1.26.4

# Deep learning (compatible with Python 3.13)
tf-nightly==2.20.0.dev20251021  # nightly build TensorFlow (CPU only)
ultralytics==8.3.20

# CV utils (no GUI)
opencv-python-headless==4.10.0.84
